<div class="container-c">
  <app-carousel [slides]="travel.imagesPaths"></app-carousel>
</div>

<div class="container">
  <div class="row my-3">
    <div class="col-md-8">
      <div class="ml-3">
        <h1 class="display-4">{{travel.name}}</h1>
        <h4>{{travel.hotelName}}</h4>
        <span *ngFor="let star of stars" style="color: gold">
          <fa-icon [icon]="faStar"></fa-icon>
      </span>
      </div>
      <p class="mt-5 lead">
        {{travel.description}}
      </p>
    </div>
    <div class="col-md-4">
      <div class="card">
        <h5 class="card-header text-center">Attractions</h5>
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let attr of travel.actractions">{{attr}}</li>
        </ul>
      </div>
    </div>
  </div>
  
</div>


