<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Travel Smarter</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">x</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
            Account menage
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Login</a>
            <a class="dropdown-item" href="#">Signup</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!---->
<div class="landing">
  <div class="container d-flex align-items-center h-75">
    <div class="row text-center w-100 mt-5 mx-auto">
      <div class="card w-100" style="background-color: transparent; box-shadow: 2px 2px 40px -10px rgb(65, 135, 186)">
        <h5 class="card-header text-white">Sprecyzuj czego szukasz</h5>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <label for="inputEmail1" class="text-white">Kraj</label>
              <input type="email" class="form-control" id="inputEmail1">
            </div>
            <div class="col-md-2">
              <label for="inputEmail2" class="text-white">Ilość osób</label>
              <input type="number" class="form-control" id="inputEmail2">
            </div>
            <div class="col-md-6">
              <label class="text-white">Data</label>
              <div class="row">
                <div class="col-md-6 input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Od</span>
                  </div>
                  <input type="date" class="form-control">
                </div>
                <div class="col-md-6 input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon2">Do</span>
                  </div>
                  <input type="date" class="form-control">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!---->
<div class="container mt-5">
  <div class="row">
    <div class="col-lg-4 col-md-6 my-2" *ngFor="let travel of travels">
      <div class="card mx-auto" style="width: 20rem;">
        <img src="{{travel.img}}" class="card-img-top" alt="..." style="min-height: 250px; object-fit: cover">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>
